<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h2 class="bg-primary text-white text-center p-2">ToDo List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%">#</th>
                        <th style="width: 90%">Item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Çikolata</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>