<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h2 class="bg-primary text-white text-center p-2">ToDo List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%">#</th>
                        <th style="width: 90%">Item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of list; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{row.item}}</td>
                    </tr>
                    <tr *ngIf="list.length === 0">
                        <td colspan="2" class="text-center no-record">No record found.</td>
                    </tr>
                </tbody>
            </table>
            <div class="input-group mb-3">
                <input type="text" id="add-new-item-text" class="form-control" placeholder="New Item"
                    [(ngModel)]="newItem">
                <div class="input-group-append">
                    <button id="add-button" class="btn btn-primary" type="button" [disabled]="!newItem"
                        (click)="onAddButtonClick()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>